@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

.conteudo {
    width: 1920px;
    height: 1080px;
    position: fixed;
    left: calc(50% - 1920px / 2);
    top: calc(50% - 1080px / 2);
    margin: auto;
}

.intro-controle-gastos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-controle.position-absolute {
    background-color: white;
    width: 50%;
    border-radius: 9px;
    box-shadow: 10px 10px 10px #333;
}

.header-intro-controle {
    background-color: #F2D39A;
    border-radius: 9px;
    font-size: 36px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 15px #333;
}

.text-intro-fiscal {
    font-size: 30px;
    font-family: 'Calibri';
    color: #333 !important;
}

.footer-mesa {
    text-align: center;
}

/* .custom-cursor{
    cursor: url('../img/mao-clique.png'), auto !important;
} */

.btn.btn-comecar {
    display: inline-block;
    border: 4px solid black;
    background-color: #F8A618;
    font-size: 36px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    padding: 2%;
    border-radius: 9px;
    margin: 4%;
    padding-inline: 10%;
    text-transform: uppercase;
}

.btn.btn-comecar:hover {
    background-color: #C5D742;
    transform: scale(1.1);
}

.conteudo-controle {
    bottom: 155px;
    right: 143px;
    width: 35%;
}

.organiza {
    display: inline-block;
    border: 4px solid black;
    background-color: #C5D93A;
    font-size: 36px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    padding: 4%;
    border-radius: 9px;
    margin: 4%;
    padding-inline: 10%;
    text-transform: uppercase;
    width: 100%;
}

.organiza:hover {
    background-color: #F8A618;
    transform: scale(1.1);
}

.animacao {
    animation: go-back 1s infinite alternate;
}

@keyframes go-back {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}

.conteudo-controle-organizado {
    top: 660px;
    left: 122px;
}

.notinhas:hover {
    transform: scale(1.1);
}


.final-controle-gastos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-controle.position-absolute {
    background-color: white;
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #333;
}

.header-final-controle {
    background-color: #5C7309;
    border-radius: 10px;
    font-size: 36px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 15px #333;
    color: white;
}

.text-final-fiscal {
    font-size: 30px;
    font-family: 'Calibri';
    color: #333 !important;
}

.btn.btn-planilha {
    display: inline-block;
    border: 4px solid black;
    background-color: #F2D39A;
    font-size: 36px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    padding: 2%;
    border-radius: 10px;
    margin: 4%;
    padding-inline: 10%;
    text-transform: uppercase;
}

.btn-planilha:hover {
    transform: scale(1.1);
}

.head-coluna-gastos {
    background-color: #F8A618;
    border: 4px solid black;
    font-size: 36px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}

.h4-planilha {
    font-size: 18px;
}

.bordinha {
    border: 4px solid black;
}

.thead-planilha {
    background-color: #F2D39A;
    font-weight: bold;
}

.td-planilha {
    background-color: #ffecc6 !important;
    font-weight: bold;
}

.mao {
    width: 29%;
    top: 9px;
    left: 1384px;
}

.t-nota {
    top: 258px;
    font-size: 27px;
    left: 142px;
    transform: rotate(5deg);
    font-family: 'Century';
}

.btn-fechar {
    display: inline-block;
    border: 4px solid black;
    background-color: #F8A618;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    border-radius: 9px;
    margin: 1%;
    padding-inline: 3%;
    text-transform: uppercase;
}

#fecha-tabela {
    top: 621px;
    left: 300px;
}

.btn-fechar:hover {
    transform: scale(1.2);
}

.seta-esquerda {
    width: 130px;
    top: 600px;
    left: 60px;
}

.seta-esquerda:hover {
    transform: scale(1.2);
}

.seta-direita {
    width: 130px;
    top: 614px;
    left: 154px;
}

.seta-direita:hover {
    transform: scale(1.2);
}

.circulo {
    width: 110px;
    height: 110px;
    top: 122px;
    left: 271px;
    background-image: url('../img/circulo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.ordem-numerica {
    font-size: 29px;
    top: 38px;
    left: 20px;
    font-family: 'Comic Neue', cursive;
}

.header-modal-positivo {
    background-color: #5C7309;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.header-modal-negativo {
    background-color: #731009;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}